body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #0e0048; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbarDiv {
  background-color: #0e0048;
  height: auto;
}
.mainNav {
  color: white;
}
.navbar-toggler {
  border: 1px solid white;
  border-radius: 2px;
}
.navbar-toggler-icon {
  color: #f3f4ed;
}
.navbar-brand {
  color: white;
  font-weight: bold;
}
.navbar-brand:hover {
  font-size: x-large;
  color: white;
}
.mainNav img {
  margin: 0 20px;
}
.mainNav ul {
  margin-left: auto;
  margin-right: 50px;
  padding-bottom: 10px;
}
.linkStyle {
  color: white;
}
.linkStyle:hover {
  color: white;
  border-bottom: 2px solid white;
}
.mainCrousel {
  width: 90%;
  margin: 0 auto;
  padding: 30px;
}
.mainCrousel img {
  height: 500px;
  width: 100%;
}
.skillsDiv {
  background-color: #0e0048;
  color: black;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0);
}
.skillsDiv h1 {
  padding-top: 30px;
  color: white;
  margin-bottom: 50px;
}
.skillsImg {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}
.skillsCardDiv {
  background-color: #0e0048;
  /* background-color: #1b1717; */
  margin: 0 auto;
  height: 300px;
  float: left;
}
.skillsCard {
  background-color: white;
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.4);
  border-radius: 0;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.skillsCard:hover {
  border: 5px #0e0048 solid;
}

/* Contact Form Div CSS */
.contactFormDiv {
  padding: 50px;
}
.contactFormDiv h1 {
  color: #0e0048;
  text-align: center;
}
.contactForm {
  text-align: left;
  padding: 100px;
}
.contactForm label {
  margin-left: 2px;
  font-weight: 600;
}
.inputArea {
  margin: 10px 0;
}
.contactForm button {
  background-color: #0e0048;
  color: white;
  border: 1px solid #0e0048;
  padding: 5px;
  border-radius: 3px;
}
.contactForm button:hover {
  background-color: white;
  color: #0e0048;
  border: 1px solid #0e0048;
  padding: 5px;
}

.footer {
  background-color: #0e0048;
  color: white;
  text-align: center;
  padding: 10px;
}
.footer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #0e0048;
}
.footer img:hover {
  border: none;
}
.footer h3 {
  padding-top: 30px;
}
.footer p {
  font-weight: bold;
  padding-top: 20px;
}
